{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container text-center mb-4">
	<h1 class="text-warning mb-4 mt-4" >Experience</h1>
<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item mb-4 mt-4">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
        <h5><b>Full-stack developer intern</b></h5>
		  
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
<strong>Full-stack developer intern at TheCodeWork</strong>
		   <br><br>
		  <p>Majorly working on Django, Vue.js, Rest Framework, Tailwind CSS, and PostgreSQL.</p>
		 
		  <p>Contributed towards product stability.</p>
		  <p>Made an internal staff dashboard which have separate interfaces for the marketing group, accounts group, finance group, admin panel, visitors panel.</p>
		  <p>Worked on Master slave architecture, database syncing, database replication and routers.</p>
		  <p>Present</p>
      </div>
    </div>
  </div>
  <div class="accordion-item mb-4 mt-4">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
         <h5><b>Problem setter</b></h5>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">
<strong>Problem setter and tester at DoSelect</strong>
		  <br><br>
		  <p>Designed programming problems for the platform.</p>
		  <p>Present</p>
      </div>
    </div>
  </div>
  <div class="accordion-item mb-4 mt-4">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        <h5><b>Open source contributor</b></h5>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
<strong>Open source contributor at GSSOC</strong>
		   <br><br>
		  <p>It is a 3 month long Open Source program during summers,to help beginners get started with Open Source Development while encouraging diversity.</p>
		  <p>Contributed to many projects based on web development and also contributed to the programming problems.</p>
      <p>Present</p>
	  </div>
    </div>
  </div>
	  <div class="accordion-item mb-4 mt-4">
    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        <h5><b>Mentorship</b></h5>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
      <div class="accordion-body">
<strong>Competitive Programming Mentorship at CodeChef</strong>
		   <br><br>
		  <p>It was the opportunity provided for the top ranking women's in the contest orgranized by the CodeChef. It was a 1:1 mentorship by the great team of CodeChef.</p>
		  <p>April 2020 - June 2020</p>
		  <u><a href="https://www.codechef.com/certificates/public/c9450f5" target="_blank">View Certificate</a></u><br>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}