{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container text-center mb-4">
	<h1 class="text-warning mb-4 mt-4" >Projects</h1>
<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item mb-4 mt-4">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
        <h5><b>Shoppingly -- An E-commerce website</b></h5>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <strong>Tech Stack - Django, Jquery, Bootstrap, Javascript, Python, Ajax, Owl Carousel, HTML, CSS, Digital Ocean, MYSQL.</strong>
		  <br><br>
		  <p>This is an Django E-Commerce Project which has Customer Registration, Login, Password Reset, Password Change, Add to Cart, Quantity Update, Paypal Payment Gateway and much more features.</p>
		  
		  <p>Present</p>
		  		  <u><a href="https://github.com/kanchan1910/Shoppingly-An-e-commerce-website" target="_blank">View Source Code</a></u><br>

      </div>
    </div>
  </div>
  <div class="accordion-item mb-4 mt-4">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
         <h5><b>College Management System (CLM)</b></h5>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">
		   <strong>Tech Stack - Django, Jquery, Bootstrap, Javascript, Python, HTML, CSS, MYSQL.</strong>
		  <br><br>
		  <p>A Django Student Management System has 3 User Interfaces, The Admin Side, that can see overall summary charts of students performance, staffs performances, courses, subjects, leave, etc. Staff/Teacher Side, can see the overall summary charts related to their students, their subjects, leave status, etc. and Student Side, that can see the overall summary charts related to their attendance, their subjects, leave status, etc.</p>
		
		  <p> <b>Admin Users Can</b> <br>
See Overall Summary Charts of Students Performance, Staffs Performances, Courses, Subjects, Leave, etc.
Manage Staffs (Add, Update and Delete)
Manage Students (Add, Update and Delete)
Manage Course (Add, Update and Delete)
Manage Subjects (Add, Update and Delete)
Manage Sessions (Add, Update and Delete)
View Student Attendance
Review and Reply Student/Staff Feedback
Review (Approve/Reject) Student/Staff Leave
			  <br><br>
			  <b>Staff/Teachers Can</b><br>
See the Overall Summary Charts related to their students, their subjects, leave status, etc.
Take/Update Students Attendance
Add/Update Result
Apply for Leave
Send Feedback to HOD
			  <br><br>
			  <b>Students Can</b>
			  <br>
See the Overall Summary Charts related to their attendance, their subjects, leave status, etc.
View Attendance
View Result
Apply for Leave
Send Feedback to HOD
</p>
		  <p>Present</p>
		  		  <u><a href="https://github.com/kanchan1910/College-Management-System-CMS" target="_blank">View Source Code</a></u><br>

	  </div>
    </div>
  </div>
  <div class="accordion-item mb-4 mt-4">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        <h5><b>Covid-19 India Data Analysis</b></h5>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
<strong>Tech Stack - Python</strong>
		  <br><br>
		  <p>
			  The aim of the project is to provide data analysis of covid-19 (a pandemic that started in December 2019). Through plotting of data, I have studied various cases like most affected countries because of this pandemic.
It contains daily updates on coronavirus cases. We will understand the pandemic from a Spatio-temporal perspective with the data gathered.

Finally, the accuracy of the algorithm has been determined. I have also plotted comparison graphs to analyze how much INDIA is getting affected/recover day by day.
		  </p>
		  <p>Aug 2020 – Oct 2020
		  

</p>
		   <u><a href="https://github.com/kanchan1910/Covid-19-India-Data-Analysis" target="_blank">View Source Code</a></u><br>
		  		  <u><a href="https://jovian.ai/kanchanjeswani2000/covid-19-data-analysis-india" target="_blank">View Jupyter Notebook</a></u><br>
      </div>
    </div>
  </div>
	  <div class="accordion-item mb-4 mt-4">
    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        <h5><b>Image Uploader website</b></h5>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
      <div class="accordion-body">
<strong>Tech Stack - Django, Bootstrap, HTML, CSS, Javascript.</strong>
		  <br><br>
		  <p>Mainly focuses on uploading the images and showing them on the home page in real-time.</p>
		  <p>April 2021 - April 2021</p>
		  		  		  <u><a href="https://github.com/kanchan1910/Django-Image-Uploader-website" target="_blank">View Source Code</a></u><br>
      </div>
    </div>
  </div>
	 <div class="accordion-item mb-4 mt-4">
    <h2 class="accordion-header" id="panelsStayOpen-headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        <h5><b>Authentication System</b></h5>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
      <div class="accordion-body">
		  <strong>Tech Stack - Django, Bootstrap, HTML, CSS, Javascript.</strong>
		  <br><br>
		  <p>Mainly focuses on learning the concept of authentication in Django.</p>
		  <p>April 2021 - April 2021</p>
				  		  <u><a href="https://github.com/kanchan1910/Authentication-System" target="_blank">View Source Code</a></u><br>
  
      </div>
    </div>
  </div>
	 <div class="accordion-item mb-4 mt-4">
    <h2 class="accordion-header" id="panelsStayOpen-headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        <h5><b>Fully responsive django website</b></h5>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
      <div class="accordion-body">
		  		  <strong>Tech Stack - Django, Bootstrap, HTML, CSS, Javascript.</strong>
		  <br><br>
		  <p>This is my first full-stack project. Basically, a fully-functional, fully-responsive website</p>
		  <p>February 2021 - February 2021</p>
		  		  		  <u><a href="https://github.com/kanchan1910/Complete-Backend-and-frontend-website" target="_blank">View Source Code</a></u><br>

      </div>
    </div>
  </div>
	 <div class="accordion-item mb-4 mt-4">
    <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        <h5><b>Text Analyzer</b></h5>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSeven">
      <div class="accordion-body">
	  		  <strong>Tech Stack - Django, Bootstrap, HTML, CSS, Javascript.</strong>
		  <br><br>
		  <p>This is my first Backend project using Django. A user can input a text string and can apply the features on the string like - Remove Punctuations, Capitalize, Make string uppercase, Make string lowercase, count the number of words in a string, Remove new lines from the string, Remove spacing between the words in the strings, return the number of characters in a string, Count vowels in the string etc. The user will be able to see the output string after applying the features needed.</p>
		  <p>February 2021 - February 2021</p>
	  		  		  <u><a href="https://github.com/kanchan1910/Text-Analyzer-" target="_blank">View Source Code</a></u><br>
</div>
    </div>
  </div>
	 <div class="accordion-item mb-4 mt-4">
    <h2 class="accordion-header" id="panelsStayOpen-headingEight">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        <h5><b>Random Password generator</b></h5>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingEight">
      <div class="accordion-body">
		  	  <strong>Tech Stack - Django, Bootstrap, HTML, CSS, Javascript.</strong>
		  <br><br>
		  <p>• A Password generator is a simple website that generates a random password based on user-selected criteria.
			  <br>
• User can select among Uppercase,Lowercase, special character and numbers.
			  <br>
• Also, User is able to select the length of generated password.
			  <br>
			  • User is also provided copy to clipboard feature.
</p>
		  <p>March 2021 - March 2021</p>   		  		  <u><a href="https://github.com/kanchan1910/Random-Password-Generator" target="_blank">View Source Code</a></u><br>
   </div>
      </div>
    </div>
  </div>
	
	 <div class="accordion-item mb-4 mt-4">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwelve">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwelve" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        <h5><b>Fruit-Classification-using-Feedforward-Neural-Networks-in-PyTorch</b></h5>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwelve" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwelve">
      <div class="accordion-body">
<strong>Tech Stack - PyTorch, Deep learning, Machine learning, Python, Jupyter notebooks</strong>
		  <br><br>
		  <p>This is my deep learning project to classify distinct classes of fruits using Feed-forward Neural Networks in the PyTorch Framework.</p>
	
		  <p>The dataset contains 131 different classes of fruits. I have received the final accuracy of 96.71%
</p>
		  <p>June 2020 - June 2020</p>
		  		  		  <u><a href="https://github.com/kanchan1910/Fruit-Classification-using-Feedforward-Neural-Networks-in-PyTorch" target="_blank">View Source Code</a></u><br>
		  		  <u><a href="https://www.kaggle.com/kanchanjeswani/kernel2c76114526" target="_blank">View code on Kaggle</a></u><br>
		  		  		  <u><a href="https://blog.jovian.ai/fruit-classification-using-feedforward-neural-networks-in-pytorch-d58a626200a0" target="_blank">View Medium article</a></u><br>


      </div>
    </div>
  </div>
	
	 <div class="accordion-item mb-4 mt-4">
    <h2 class="accordion-header" id="panelsStayOpen-headingNine">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseNine" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        <h5><b>Email-sender using Django</b></h5>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseNine" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingNine">
      <div class="accordion-body">
		  <strong>Tech Stack - Django, Bootstrap, HTML, CSS, Javascript, Tailwind CSS.</strong>
		  <br><br>
		  <p>This is the full-stack website which deals with proper authentication features.</p>
		  <p>Created Login/Signup Page and the Profile Page.
 
    Once the user is logged in, it is redirected to the profile page. If the user is not logged in then it will not be able to view the profile page and will receive the error.
    <br>
    When a user signs up, the system sends a welcome email to the registered email address.</p>
		  <p>April 2021 - April 2021</p>
		  		  		  <u><a href="https://github.com/kanchan1910/TCW-project" target="_blank">View Source Code</a></u><br>
		  		  <u><a href="https://drive.google.com/file/d/1oGnmFO5VqwJff0gx_uEcO9Dc9QDj_g8X/view" target="_blank">View demo</a></u><br>

	  </div>
    </div>
  </div>
	
	 <div class="accordion-item mb-4 mt-4">
    <h2 class="accordion-header" id="panelsStayOpen-headingTen">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTen" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        <h5><b>Working analog clock | calculator | Transparent login form | Quotes website</b></h5>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTen">
      <div class="accordion-body">
	  <strong>Tech Stack - HTML, CSS, Javascript, Bootstrap</strong>
		  <br><br>
		  <p>These are my beginner web development projects, which I have made in the initial phase of my web development journey</p>
		  <p>It includes a Working analog clock made using HTML, CSS, Bootstrap and Javascript; Calculator using HTML, CSS and Javascript; Transparent login form using HTML and CSS; Quotes website using HTML and CSS.</p>
		  <p>Jan 2021 - Feb 2021</p>
		  		  		  <u><a href="https://github.com/kanchan1910/Working-Analog-Clock" target="_blank">View Source Code for Working analog clock</a></u><br>

		  		  		  <u><a href="https://github.com/kanchan1910/Transparent-Login-Form" target="_blank">View Source Code for Transparent login form</a></u><br>
		  		  		  <u><a href="https://github.com/kanchan1910/Simple-Calculator" target="_blank">View Source Code for calculator</a></u><br>
		  		  		  <u><a href="https://github.com/kanchan1910/Quotes-website" target="_blank">View Source Code for Quotes website</a></u><br>
	  </div>
    </div>
  </div>
	
	
</div>
</div>
{% endblock content %}