{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container text-center">
	<h1 class="text-warning mb-3 mt-3" >Skills</h1>
	<div class="row text-white">
		<div class="col-sm-4">
			<h3 class="mt-3">C++</h3>
			<div class="progress mb-2">
				<div class="progress-bar  progress-bar-striped progress-bar-animated  bg-danger role="progressbar" style="width:100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
				
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<h3 class="mt-3">Python</h3>
			<div class="progress">
				<div class="progress-bar  progress-bar-striped progress-bar-animated  bg-secondary" role="progressbar" style="width:90%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
				
				</div>
			</div>
		</div>
<div class="col-sm-4">
			<h3 class="mt-3">SQL</h3>
			<div class="progress mb-2">
				<div class="progress-bar  progress-bar-striped progress-bar-animated  bg-success" role="progressbar" style="width:88%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
				
				</div>
			</div>
		</div>
	</div>
	<div class="row text-white">
		<div class="col-sm-4">
			<h3 class="mt-3">C</h3>
			<div class="progress mb-2">
				<div class="progress-bar  progress-bar-striped progress-bar-animated  bg-success" role="progressbar" style="width:98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
				
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<h3 class="mt-3">Django</h3>
			<div class="progress mb-2">
				<div class="progress-bar  progress-bar-striped progress-bar-animated  bg-info" role="progressbar" style="width:80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
				
				</div>
			</div>
		</div>
<div class="col-sm-4">
			<h3 class="mt-3">Tailwind CSS</h3>
			<div class="progress mb-2">
				<div class="progress-bar  progress-bar-striped progress-bar-animated  bg-primary" role="progressbar" style="width:90%" aria-valuenow="190" aria-valuemin="0" aria-valuemax="100">
				
				</div>
			</div>
		</div>
	</div>
	<div class="row text-white">
		<div class="col-sm-4">
			<h3 class="mt-3">Algorithms</h3>
			<div class="progress mb-2">
				<div class="progress-bar  progress-bar-striped progress-bar-animated  bg-primary" role="progressbar" style="width:99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">
				
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<h3 class="mt-3">Data Structures</h3>
			<div class="progress mb-2">
				<div class="progress-bar  progress-bar-striped progress-bar-animated  bg-danger" role="progressbar" style="width:99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">
				
				</div>
			</div>
		</div>
<div class="col-sm-4">
			<h3 class="mt-3">Vue.js</h3>
			<div class="progress mb-2">
				<div class="progress-bar  progress-bar-striped progress-bar-animated  bg-secondary" role="progressbar" style="width:80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
				
				</div>
			</div>
		</div>
	</div>
	<div class="row text-white">
		<div class="col-sm-4">
			<h3 class="mt-3">HTML</h3>
			<div class="progress mb-2">
				<div class="progress-bar  progress-bar-striped progress-bar-animated  bg-info" role="progressbar" style="width:100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
				
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<h3 class="mt-3">CSS</h3>
			<div class="progress mb-2">
				<div class="progress-bar  progress-bar-striped progress-bar-animated  bg-success" role="progressbar" style="width:99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">
				
				</div>
			</div>
		</div>
<div class="col-sm-4">
			<h3 class="mt-3">Data analysis</h3>
			<div class="progress mb-2">
				<div class="progress-bar  progress-bar-striped progress-bar-animated  bg-danger" role="progressbar" style="width:95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
				
				</div>
			</div>
		</div>
	</div>
	<div class="row text-white">
		<div class="col-sm-4">
			<h3 class="mt-3">JavaScript</h3>
			<div class="progress mb-2">
				<div class="progress-bar  progress-bar-striped progress-bar-animated  bg-danger" role="progressbar" style="width:70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
				
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<h3 class="mt-3">Docker</h3>
			<div class="progress mb-2">
				<div class="progress-bar  progress-bar-striped progress-bar-animated  bg-secondary" role="progressbar" style="width:69%" aria-valuenow="69" aria-valuemin="0" aria-valuemax="100">
				
				</div>
			</div>
		</div>
<div class="col-sm-4">
			<h3 class="mt-3">Deep learning</h3>
			<div class="progress mb-2">
				<div class="progress-bar  progress-bar-striped progress-bar-animated  bg-success" role="progressbar" style="width:75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
				
				</div>
			</div>
		</div>
	</div>
	<div class="row text-white">
		<div class="col-sm-4">
			<h3 class="mt-3">Git</h3>
			<div class="progress mb-2">
				<div class="progress-bar  progress-bar-striped progress-bar-animated  bg-primary" role="progressbar" style="width:90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
				
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<h3 class="mt-3">Linux</h3>
			<div class="progress mb-2">
				<div class="progress-bar  progress-bar-striped progress-bar-animated  bg-danger" role="progressbar" style="width:90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
				
				</div>
			</div>
		</div>
<div class="col-sm-4">
			<h3 class="mt-3">Blogging</h3>
			<div class="progress mb-2">
				<div class="progress-bar  progress-bar-striped progress-bar-animated  bg-primary" role="progressbar" style="width:90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
				
				</div>
			</div>
		</div>
	</div>
	<div class="row text-white">
		<div class="col-sm-4">
			<h3 class="mt-3">DBMS</h3>
			<div class="progress mb-2">
				<div class="progress-bar  progress-bar-striped progress-bar-animated  bg-secondary" role="progressbar" style="width:90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
				
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<h3 class="mt-3">MySQL|PostgreSQL
</h3>
			<div class="progress mb-2">
				<div class="progress-bar  progress-bar-striped progress-bar-animated  bg-success" role="progressbar" style="width:80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
				
				</div>
			</div>
		</div>
<div class="col-sm-4">
			<h3 class="mt-3"> Operating system
			</h3>
			<div class="progress mb-2">
				<div class="progress-bar  progress-bar-striped progress-bar-animated  bg-info" role="progressbar" style="width:71%" aria-valuenow="71" aria-valuemin="0" aria-valuemax="100">
				
				</div>
			</div>
		</div>
	</div>
	<div class="row text-white">
		<div class="col-sm-4">
			<h3 class="mt-3">PyTorch</h3>
			<div class="progress mb-2">
				<div class="progress-bar  progress-bar-striped progress-bar-animated  bg-info" role="progressbar" style="width:70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
				
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<h3 class="mt-3">Bootstrap </h3>
			<div class="progress mb-2">
				<div class="progress-bar  progress-bar-striped progress-bar-animated  bg-danger" role="progressbar" style="width:80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
				
				</div>
			</div>
		</div>
<div class="col-sm-4">
			<h3 class="mt-3">Networking</h3>
			<div class="progress mb-2">
				<div class="progress-bar  progress-bar-striped progress-bar-animated  bg-secondary" role="progressbar" style="width:67%" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100">
				
				</div>
			</div>
		</div>
	</div>
	<div class="row text-white">
		<div class="col-sm-4">
			<h3 class="mt-4">Programming</h3>
			<div class="progress mb-2">
				<div class="progress-bar  progress-bar-striped progress-bar-animated  bg-primary" role="progressbar" style="width:90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
				
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<h3 class="mt-4">Rest framework|API</h3>
			<div class="progress mb-2">
				<div class="progress-bar  progress-bar-striped progress-bar-animated  bg-secondary" role="progressbar" style="width:80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
				
				</div>
			</div>
		</div>
<div class="col-sm-4">
			<h3 class="mt-4">Communication/Leadership</h3>
			<div class="progress mb-2">
				<div class="progress-bar  progress-bar-striped progress-bar-animated  bg-success" role="progressbar" style="width:87%" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100">
				
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}